//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
        phoneMin: 319.99px,
        phone: 576.99px,
        tablet: 768.99px,
        laptop: 1024.99px,
        laptopL: 1440.99px,
        lg: 2560px,
);

//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––


// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@mixin respond($media){
  @if $media == laptop {
    @media screen and (min-device-width: 1366px) and (max-device-width: 1566px)and (-webkit-min-device-pixel-ratio: 1) {
      @content
    }
  }
    // Многие планшеты
  @else if $media == allmostAllLargeTabletPortain {
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
      @content
    }
  }
  @else if $media == allmostAllTabletPortain {
    @media (min-device-width: 768px) and (max-device-width: 1023px){
      @content
    }
  }
  @else if $media == allmostAllPhonePortain {
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
      @content
    }
  }
  @else if $media == allmostAllPhoneLandscape {
    @media only screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: landscape)   {
      @content
    }
  }
   // Отдельно
  @else if $media == ipadPro12 {
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
  }
  @else if $media == ipadPro12-portain {
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
  }

  @else if $media == ipadPro12-landscape {
    @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
  }

  @else if $media == ipadPro9 {
    @media (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
  }

  @else if $media == ipadPro9-portain {
    @media only screen and (min-device-width: 768px) and (max-device-width: 800px) and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
  }
  @else if $media == ipadPro9-landscape {
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px)  and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
  }

  @else if $media == galaxyTab2 {
    @media  (min-device-width: 800px) and (max-device-width: 1280px) {
      @content
    }
  }
  @else if $media == galaxyTab2-portain {
    @media (min-device-width: 800px) and (orientation: portrait) {
      @content
    }
  }
  @else if $media == galaxyTab2-landscape {
    @media (max-device-width: 1280px) and (orientation: landscape){
      @content
    }
  }
}
