$default-font: "Roboto-reg", sans-serif
$medium: "Roboto-med", sans-serif
$bold: "Roboto-bold", sans-serif

$accent: #2962FF
$danger: #FF1744
$success: #84C77D
$warning: #FFCA28
$info: #81d4fa
$text: #333
$pink: #ab47bc



$color-for-button: #74767B

$color-for-border: rgba(0, 0, 0, 0.12)
$grey-for-text: rgb(153, 153, 153)
$grey-for-icon: rgb(240, 240, 240)
$color-for-no-active-link: rgb(51, 51, 51)

$background-hover: #dbdbdb

@import "mixins/media-queries"
