@include respond(allmostAllLargeTabletPortain)
  .searchPage
    .searchPage-container
      width: 70%
@include respond(allmostAllTabletPortain)
  .searchPage
    .searchPage-container
      width: 90%
@include respond(allmostAllPhonePortain)
  .searchPage
    .searchPage-container
      width: 100%
      padding: 0 .7rem
    .searchPage-tabs-wrap
      padding: .7rem
      margin: 0
    .nav-tabs .tab .tabs__link
      font-size: .99em
    .groups-tab-wrapper
      .selected-faculty
        font-size: .88em
      .faculties-list a
        flex-basis: 19.999%
        padding: .5rem .2rem
        &:last-child, &:nth-child(4)
          margin-right: 0
    .groups-tab-wrapper
      .course
        flex-direction: column
        margin-bottom: .5rem
        &-info
          text-align: center
          font-size: .8rem
          margin-bottom: 1rem
        &-groups
          a
            flex-basis: 20%
            padding: .5rem .2rem
            margin-right: calc((100% - 80%)/4)
            font-size: .88em
            &:nth-child(4n+4)
              margin-right: 0
@include respond(allmostAllPhoneLandscape)
  .searchPage
    .searchPage-container
      width: 80%
      padding: 0 .7rem
